<div class="container">
  <div btLibsUiHighlight background="#fe8080" color="white">hover me!</div>
  <span>highlight automatically add to the span</span>
  <span noHighlight>highlight does'nt work ojn the spans with not noHighlight input</span>
</div>
<bt-libs-ui-selectable-label labelText="selectable label" />
<div style="display: flex; gap: 2rem; justify-content: center;">
  <bt-libs-ui-add-expense-template-driven-form  (addExpense)="onAddExpense($event)"/>
  <bt-libs-ui-add-expense-reactive-form />
</div>

